{% extends "base.html" %}
{% block title %}
Wikidata periodic table: License and attribution for data - Wikimedia Tool Labs
{% endblock %}
{% block content %}
<h1>Wikidata periodic table</h1>

<h2 id="license">License</h2>
<p>
The Wikidata periodic table is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>
<p>
The Wikidata periodic table is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>
<p>
You should have received a copy of the GNU General Public License
along with the Wikidata periodic table.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
</p>
<p>
A plain-text copy of the license is available <a href="{{ url_for('license_full') }}">here</a>.
</p>

<h2 id="attribution">Attribution for data</h2>
<p>
All structured data from the main and property namespace of Wikidata is available under the
<a href="//creativecommons.org/publicdomain/zero/1.0/legalcode">Creative Commons CC0 License</a>
(<a href="//creativecommons.org/publicdomain/zero/1.0/">human-readable summary</a>).
</p>
{% endblock %}
</html>
