{% extends "nuclides_common.html" %}
{% block chart_label %}half life{% endblock %}
{% block legend %}
<b>Half-life ranges:</b>
<table>
  <tr><td class="nuclide hl1e9" style="width: 20px; height: 20px;"></td><td> &gt; 10<sup>9</sup> s</td></tr>
  <tr><td class="nuclide hl1e6" style="width: 20px; height: 20px;"></td><td> 10<sup>6</sup> - 10<sup>9</sup> s</td></tr>
  <tr><td class="nuclide hl1e3" style="width: 20px; height: 20px;"></td><td> 10<sup>3</sup> - 10<sup>6</sup> s</td></tr>
  <tr><td class="nuclide hl1e2" style="width: 20px; height: 20px;"></td><td> 100 - 1000 s</td></tr>
  <tr><td class="nuclide hl1e1" style="width: 20px; height: 20px;"></td><td> 10 - 100 s</td></tr>
  <tr><td class="nuclide hl1e0" style="width: 20px; height: 20px;"></td><td> 1 - 10 s</td></tr>
  <tr><td class="nuclide hl1e-1" style="width: 20px; height: 20px;"></td><td> 0.1 - 1 s</td></tr>
  <tr><td class="nuclide hl1e-2" style="width: 20px; height: 20px;"></td><td> 0.01 - 0.1 s</td></tr>
  <tr><td class="nuclide hl1e-3" style="width: 20px; height: 20px;"></td><td> 10<sup>-3</sup> - 10<sup>-2</sup> s</td></tr>
  <tr><td class="nuclide hl1e-6" style="width: 20px; height: 20px;"></td><td> 10<sup>-6</sup> - 10<sup>-3</sup> s</td></tr>
  <tr><td class="nuclide hl1e-9" style="width: 20px; height: 20px;"></td><td> 10<sup>-9</sup> - 10<sup>-6</sup> s</td></tr>
  <tr><td class="nuclide hl1e-12" style="width: 20px; height: 20px;"></td><td> 10<sup>-12</sup> - 10<sup>-9</sup> s</td></tr>
  <tr><td class="nuclide hl1e-15" style="width: 20px; height: 20px;"></td><td> 10<sup>-15</sup> - 10<sup>-12</sup> s</td></tr>
  <tr><td class="nuclide hl1e-18" style="width: 20px; height: 20px;"></td><td> 10<sup>-18</sup> - 10<sup>-15</sup> s</td></tr>
  <tr><td class="nuclide hl1e-21" style="width: 20px; height: 20px;"></td><td> &lt; 10<sup>-18</sup> s</td></tr>
</table>
{% endblock %}

{% block links %}
<a href="{{ url_for('nuclide_decays') }}">Nuclides by dominant decay mode</a> /
<a href="{{ url_for('index') }}">Periodic Table</a>
{% endblock %}
