{% extends "nuclides_common.html" %}
{% block chart_label %}decay mode{% endblock %}
{% block legend %}
<b>Decay types:</b>
<table>
  <tr><td class="nuclide beta-minus" style="width: 20px; height: 20px;"></td><td> beta-minus decay</td></tr>
  <tr><td class="nuclide neutron-emission" style="width: 20px; height: 20px;"></td><td> neutron emission</td></tr>
  <tr><td class="nuclide positron-emission" style="width: 20px; height: 20px;"></td><td> positron emission</td></tr>
  <tr><td class="nuclide electron-capture" style="width: 20px; height: 20px;"></td><td> electron capture</td></tr>
  <tr><td class="nuclide proton-emission" style="width: 20px; height: 20px;"></td><td> proton emission</td></tr>
  <tr><td class="nuclide alpha-decay" style="width: 20px; height: 20px;"></td><td> alpha decay</td></tr>
  <tr><td class="nuclide spontaneous-fission" style="width: 5px; height: 5px;"></td><td> spontaneous fission</td></tr>
</table>
{% endblock %}

{% block links %}
<a href="{{ url_for('nuclides') }}">Nuclides by half-life</a> /
<a href="{{ url_for('index') }}">Periodic Table</a>
{% endblock %}
